@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');
*,*::after, *::before {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
  background: #000;
  height: 100vh;
}
#navbar {
    background: #0e0808cf;
    color: #fff;
}
#navLogo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    object-fit: cover;
}
.toggleIcon {
    color: #fff;
    margin-top: -15px;
    font-size: 35px;
}
.btnGroup {
    display: flex;
}
#btnSearch {
    background: transparent;
    color: #fff;
    font-family: fantasy;
    width: 110px;
    text-align: center;
    border-radius: 2px;
    transition: 0.5s;
}
#registerBtn {
    background: red;
    width: 150px;
    color: #fff;
    font-family: fantasy;
    text-align: center;
    transition: 0.5s;
    border-radius: 2px;
}
#registerBtn:hover {
    background: #fff;
    color: red;
    
}


@media screen and (max-width: 768px) {
    #navLogo {
        width: 60px;
    }
    .btnGroup {
      display: inline-flex;
    }
}
