@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*, *::after, *::before {
  padding: 0; box-sizing: border-box; margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.drawer {
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner {
  background: linear-gradient(rgba(7, 4, 13, 0.905), rgba(10, 5, 13, 0.974)), url('../src/assets/collectofmovies.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 300px;
  font-family: 'Archivo Black', sans-serif;
  justify-content: center;
  align-items: center;
}
.banner-container {
  font-family: 'Archivo Black', sans-serif;
  color: red;
}
.card-img-top {
  width: 100%;
  height: 350px;
}
.card-title {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.movieDetails {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../src/assets/collectofmovies.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.footer {
  background: linear-gradient(rgba(7, 4, 13, 0.905), rgba(10, 5, 13, 0.974)), url('../src/assets/collectofmovies.jpg');
  background-position: center center;
  background-size: cover;
}
ul {
  list-style: none;
}